h1 {
    text-align: center;
    margin-bottom: 2.5%;
}


/* Styling navbar */


/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}


/* Log in button drop down */

.navbar-brand {
    position: relative;
    z-index: 2;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
}

.navbar .navbar-collapse {
    position: relative;
}

.navbar .navbar-collapse .navbar-right > li:last-child {
    padding-left: 22px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
}


/* Styling buttons */

.button {
    text-align: center;
    margin-bottom: 2.5%;
}

.termsOfService{
	margin-right: 20px;
}

.checkbox {
    transform: scale(1.5, 1.5);
}

.buttonDashboard {
    text-align: left;
}

.delete {
    margin-top: 10px;
}


/* Styling the modal form */

.form-group div {
    margin-bottom: 2.5%;
}

.modalSubmit {
    margin-top: 12px;
}

.container {
    text-align: center;
}

.textBody{
	text-align: justify;
}

/* Styling the logo banner */

.logo {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
}


/* Styling the profile */

.profileImage {
    margin-bottom: 5%;
}

.profileText {
    text-align: left;
}

.profileButtons {
    margin-top: 5%;
    text-align: left;
}


/* Styling login form*/

.login {
    margin-top: 5%;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}


/* Styling new student form*/

.newStudentRegForm {
    text-align: left;
    margin: auto;
}

.registrationForm input {
    margin-bottom: 10px;
}


/* Styling sign-in sheet */

.selector {
    margin-bottom: 2.5%;
}


/* Styling dashboard table */

#dataTable {
    text-align: left;
}

/* Styling Welcome Screen */

.welcomeMsg{
    margin-top: 10%;
}

.welcomeMsg h1{
    font-size: 3em;
}

.topMsg{
    margin-bottom: 10%;
}