<div class="modal fade container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Synergy DanceZone Terms of Service</h4>
            </div>
            <div class="modal-body" ng-transclude>
                <div class="textBody">
                    I acknowledge that I am a Dance Zone Member, Dance Zone student or guest. By entering Synergy Dance Zone, I understand that the activities in which I will participate may be considered inherently dangerous and may cause injury, including bodily injury and/or damage to personal property. I assume any risk, and take full responsibility and waive any claims of personal injury and/or damage to personal property. Full waiver is posted at entrance and individual copies are available upon request.
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="submit" ng-click="vm.termsAccepted = true" data-dismiss="modal" class="btn btn-primary">Agree</button>
                    <button type="submit" ng-click="vm.termsAccepted = false" data-dismiss="modal" class="btn btn-danger">Disagree</button>
                </div>
            </div>
        </div>
    </div>
</div>
